[submodule "contrib/libmowgli"]
	path = contrib/libmowgli
	url = git://git.atheme.org/libmowgli.git
[submodule "contrib/uriparser"]
	path = contrib/uriparser
	url = git://uriparser.git.sourceforge.net/gitroot/uriparser/uriparser
